@import '_colors';
header {
    background: #e32c2c;
    box-shadow: 0 4px 12px -6px #084298;
}
.site-logo{
    padding-top: 10px;
    padding-bottom: 10px;
    img{
        max-width: 120px;
    }
}


